body {
    font-family: Roboto, sans-serif;
}

.header,
.section-one {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 38px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.container-two {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 120px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.section-one {
    display: flex;
    flex-direction: row;
    padding: 120px;
    gap: 16px;
}

.welcome-msg {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img-placeholder {
    width: 500px;
    background-color: gray;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    border: none;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    border-radius: 12px;
}