body {
    font-family: Roboto, sans-serif;
}

.header,
.section-one,
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 38px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.background-color {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px;
}

.section-three {
    background-color: #E5E7EB;
    padding: 120px 180px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 1;
    color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 120px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px;
    gap: 16px;
}

.welcome-msg {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img-placeholder {
    width: 500px;
    background-color: gray;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 16px;
    color: white;
    background-color: #3882F6;
    border: none;
    margin: 0;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    margin-top: 10px; 
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-placeholder-sm {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0px 120px;
    padding-bottom: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 4px;
}

.info-text {
    text-align: center;
}

.quote-name {
    text-align: end;
    font-weight: bold;
    padding-right: 100px;
}

.section-four {
    padding: 60px 120px;
}

.background-color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    border-radius: 5px;
    gap: 150px;
}

.container-two {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    color: white;
    font-weight: bold;
}

.text {
    color: white;
}

.border-btn {
    border: 2px solid white;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}